* {
		margin:0;
		padding:0;
	
	}

body
{
		background-color: #E3CDA4;
		margin: 0;
		 -webkit-font-smoothing: antialiased;
		
}
#wrapper{
		margin:auto;
		width:100%;
	}
.smedia {
		float:left;
	
		padding:20px 0 0 5px;
		margin-top:-15px;
		position: fixed;
		
}
#logo {  
	padding-top: 20px;
 width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
	}

#lineup {
		text-align:center;
		height:3px;
		width: 30%;
		margin-left:auto;
		margin-right:auto;
		margin-top: 30px;
		margin-bottom:-30px;
		-moz-margin-bottom:-30px;
		top:270px;
		bottom:200px;
		left:20px;
		right:10px;
		background-color:#c77966;
		}
nav {
	text-align:center;
	display:inline;
	font-size:2em;
	position:relative;
	padding: 30px 0px 0 300px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;
}


	
#linedown {
		text-align:center;
		height:3px;
		width: 45%;
		margin-top:-30px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom: 30px;
		position:relative;
		background-color:#c77966;}
		
.menuItem {
		display:inline;
		margin:40px;
		
	
	}
	.menuItem a {
		text-decoration:none;
		color:#2F343B;
		display:inline-block;
		
	}
	a:hover {color:#C77966}
	h1 {
		text-align:center;
	}
	
	
	#footer {
	width: 100%;
	
	bottom: 0;
		}

			#footer1 {
	background-color:#6f2f2f ;
	height: 35px;
	width: 100%;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;


	
	}
	#footer1 p {
		color:#e3cda4;
		margin-right:1.5%;
		padding-top:10px;
		text-align: right;
		font-size: 15px;
	}

		#footer2 {
	background-color:#cc8972 ;
	height: 35px;
	width: 100%}
		
			#footer3 {
	background-color:#d9af8e ;
	height: 35px;
	width: 100%}
		
			#footer4 {
	background-color:#e0c59e ;
	height: 35px;
	width: 100%}
		
			#footer5 {
	background-color:#e3cca3;
	height: 35px;
	width: 100%}
		
		
	
ul li{
	display:inline;
}

#navigationes {
	display:inline ;
}
	
h1 {
	text-align:center;
}
	
	
#projects {
text-align:center;
padding: 130 px 10px 0 20px
}
#projects  img:hover {
-webkit-filter: sepia(100%);
-webkit-transition: opacity .5s ease;

}

	


	




.container {
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  text-align: center;
}

#myCloseID {
  background: #faa;
  cursor: pointer;
  margin-top: 10px;
  display: inline-block;
}

.fancybox-type-iframe .fancybox-nav {
    width: 60px;       
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}


.fancybox {
	-webkit-filter:sepia(1);
}
.fancybox:hover {
	-webkit-filter:sepia(0);
}

#sepiayt1 {
	
	margin-top:3.6%;
	margin-bottom: 1.8%;
	-webkit-filter:sepia(1);

}

#sepiayt1:hover {
	-webkit-filter:sepia(0);

}

#sepiayt2 {
	
margin-bottom: 3.6%;
	-webkit-filter:sepia(1);

}

#sepiayt2:hover {
	-webkit-filter:sepia(0);

}

#sepiayt {
	text-align: center;


}

#allsingle {
	text-align: center;

		border-top: 1px dashed #c77966;
	border-left: 1px dashed #c77966;
		border-right: 1px dashed #c77966;
	border-bottom: 1px dashed #c77966;
	margin-left:15%;
	margin-right: 15%;
}



h5 {
	text-align: center;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 30px;
	font-weight: 300;
}

#contactitems {

	
		
	position: relative;
	float:left;
	margin-left: 20px;
	margin-top:20px;
	margin-bottom:20px;
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: 300;

}

a:-webkit-any-link {
	text-decoration: none;}



#behancetext {
	display: inline-block;
	 vertical-align:middle;

	  padding-bottom: 30px; 

}

#behancetext a:visited{
	color:black;
	text-decoration: none;
	font-size: 15px;


}

#behancetext a:hover {
	color:#c77966;
}


#facebook2text {
	display: inline-block;
		 vertical-align:middle;

	  padding-bottom: 30px; 
}
#facebook2text a:visited{
	color:black;
	text-decoration: none;
	font-size: 15px;
}
#facebook2text a:hover{
	color:#c77966;
}
#linkedintext {
display: inline-block;
	 vertical-align:middle;

	  padding-bottom: 30px; 
}

#linkedintext a:visited{
	color:black;
	text-decoration: none;
	font-size: 15px;
}
#linkedintext a:hover{
	color:#c77966;
}

#youtubetext {
display: inline-block;
	 vertical-align:middle;

	  padding-bottom: 30px; 
}

#youtubetext a:visited{
	color:black;
	text-decoration: none;
	font-size: 15px;
}
#youtubetext a:hover{
	color:#c77966;
}
#mailtext {
display: inline-block;
	 vertical-align:middle;

	  padding-bottom: 30px; 
}

#mailtext a:visited{
	color:black;
	text-decoration: none;
	font-size: 15px;
}
#phonetext {
	display: inline-block;
		 vertical-align:middle;

	  padding-bottom: 30px; 
}
#pen {
	position: relative;
	margin-left: 35%;
	margin-top: -2px;
	padding-bottom: 20px;
}
#pen img {
	width: 350px;
	
	
	display: block;
}

.overlay{

position:absolute;
  width: 350px;
 top:0;
cursor: pointer;
  height: 359px;
  z-index: 100;
  background: transparent url('../img/grid/pen.png') no-repeat;
  
}


.overlay:active {
	display: none;
}
#content {
	border-top: 1px dashed #c77966;
	border-left: 1px dashed #c77966;
		border-right: 1px dashed #c77966;
	border-bottom: 1px dashed #c77966;
	margin-left:27.5%;
	margin-right: 27.5%;

	
}

#contentVideo {
	border-top: 1px dashed #c77966;
	border-left: 1px dashed #c77966;
		border-right: 1px dashed #c77966;
	border-bottom: 1px dashed #c77966;
	margin-left:27.5%;
	margin-right: 27.5%;

}

#contentImg {
		border-top: 1px dashed #c77966;
	border-left: 1px dashed #c77966;
		border-right: 1px dashed #c77966;
	border-bottom: 1px dashed #c77966;
}
.single {
	padding-top: 1.2%;
	padding-bottom: 1.2%;
	}

#yt {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.active a{
	color:#c77966;
}

